.Modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    width: 90%;
    border: 2px solid #000;
    padding: 10px;
}