html {
    min-height: 100%;
}

.Container_main {
    margin-top: 18px;
    margin-bottom: 10px;
}
a {
    all: unset;
}
a:hover {
    text-decoration:none;
}
h1, h2, h3, h4, h5, h6 {
    color: #333;
}
.view_note {
    white-space: pre-wrap;
    color: #555;
    font-size: 13px;
}
[pointer-events="bounding-box"] {
    display: none
}